---
import { Calendar } from "lucide-react";

import { type FAQType } from "@/types/sanityTypes";
import { sanityClient } from "sanity:client";
import { FaqAccordion } from "../ui/accordion";

const FAQ_QUERY = `*[
  _type == "faq"
]|order(publishedAt desc){
  ...,
}`;

const faqs = await sanityClient.fetch<FAQType[]>(FAQ_QUERY);
---

<section id="faq" class="md-py-16 mx-auto w-2/3 max-w-7xl py-12 lg:py-20">
  <h2
    class="relative mb-12 w-fit text-center text-5xl font-bold md:mx-auto md:mb-24"
  >
    Foire aux questions...
    <span class="absolute -bottom-4 right-8 h-1.5 w-1/2 bg-blue"></span>
  </h2>
  <div class="space-y-4">
    {
      faqs.map((faqItem) => (
        <FaqAccordion
          question={faqItem.question}
          answer={faqItem.answer}
          client:load
        />
      ))
    }
  </div>

  <div class="mx-auto mt-20 text-center">
    <div class="mx-auto w-fit">
      <a
        href="https://kgiknx4xq2i.typeform.com/to/tvtyFXT3?typeform-source=moodee.eu"
        target="_blank"
        class="flex transform items-center gap-8 rounded-xl bg-blue px-12 py-4 font-bold uppercase tracking-widest text-white transition-colors duration-200 hover:scale-105 hover:bg-blue/90"
      >
        <p>Réservez votre démo</p>
        <Calendar />
      </a>
      <p class="mt-2 text-center text-sm text-gray-400">
        Sans engagement, c'est rapide et simple.
      </p>
    </div>
  </div>
</section>
