---
// Features.astro
const features = [
  {
    step: 1,
    title: "Récoltez des données complètes en un clic",
    description:
      "MoodAI collecte automatiquement des données provenant de multiples sources, grâce à l'intelligence artificielle.",
  },
  {
    step: 2,
    title: "Obtenez des KPI précis instantanément",
    description:
      "Posez vos questions à Moodee et recevez des KPI détaillés et adaptés à vos besoins spécifiques en temps réel.",
  },
  {
    step: 3,
    title: "Restez informé des tendances émergentes",
    description:
      "Moodee surveille en continu les mentions de votre marque et les tendances sur les réseaux sociaux. Recevez des alertes en temps réel dès qu'un buzz se forme.",
  },
];
---

<section class="relative my-24">
  <div
    class="custom-gradient absolute left-0 top-0 h-full w-full rounded-[20rem]"
  >
  </div>

  <div class="relative mx-auto my-36 w-11/12 max-w-7xl text-white">
    <h2 class="mb-16 text-center text-5xl font-bold leading-[52px]">
      Les fonctionnalités de
      <span class="relative">
        Moodee
        <span class="absolute -bottom-0 right-0 h-1.5 w-full bg-white"></span>
      </span>
    </h2>

    <div class="grid grid-cols-1 gap-8 py-12 md:grid-cols-3">
      {
        features.map((feature) => (
          <div class="relative flex flex-col items-start">
            <span class="absolute -top-20 right-10 text-[150px] font-black text-blue-200 opacity-10 md:-top-32 md:right-10 md:text-[200px]">
              {feature.step}
            </span>
            <div class="relative flex h-12 w-12 items-center justify-center rounded-2xl bg-white">
              <div class="absolute h-5 w-5 rounded-full bg-blue" />
            </div>

            <h3 class="mt-2 text-xl font-semibold">{feature.title}</h3>
            <p class="mt-2">{feature.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
