---
import ReactHoverImages from "../ui/ReactHoverImages";

const steps = [
  {
    id: 1,
    title: "Données multi-plateformes",
    description:
      "Réseaux sociaux, actualités, avis clients... Tout en un seul endroit.",
    image: "moodee-feature-1.png",
  },
  {
    id: 2,
    title: "Données en temps réel",
    description: "Posez vos questions, notre IA vous répond instantanément.",
    image: "moodee-feature-2.png",
  },
  {
    id: 3,
    title: "KPIs sur mesure",
    description:
      "Créez des indicateurs clés de performance selon vos besoins spécifiques",
    image: "moodee-feature-3.png",
  },
];
---

<section id="steps" class="mx-auto w-11/12 max-w-7xl py-12 md:py-16 lg:py-20">
  <h2 class="relative mb-12 w-fit text-center text-5xl font-bold md:mx-auto">
    Pourquoi choisir Moodee ?
    <span class="absolute -bottom-4 right-8 h-1.5 w-1/3 bg-blue"></span>
  </h2>
  <ReactHoverImages steps={steps} client:load />
</section>
