---

---

<footer class="relative overflow-hidden">
  <div
    class="pointer-events-none relative mx-auto h-56 w-full"
    aria-hidden="true"
  >
    <img
      alt="shadow"
      src="/moodee-footer-shadow.png"
      class="mx-auto h-full w-full"
    />
  </div>
  <div
    class="absolute inset-x-0 bottom-2 mx-auto flex w-11/12 max-w-7xl items-center justify-between text-white md:bottom-10"
  >
    <a href="/" class="font-bold transition md:text-xl">Moodee</a>

    <div class="flex gap-2 md:gap-8">
      <a href="/privacy" class="text-xs transition md:text-base"
        >Privacy Policy</a
      >
      <a href="/terms" class="text-xs transition md:text-base"
        >Terms of Service</a
      >
      <a href="mailto:contact@moodee.eu" class="text-xs transition md:text-base"
        >Contact</a
      >
    </div>
  </div>
</footer>
