---
import { YouTube } from "astro-embed";
import { Calendar } from "lucide-react";

const images = [
  {
    src: "facebook.png",
    alt: "Facebook",
    size: "h-12",
  },
  {
    src: "tiktok.png",
    alt: "Tiktok",
    size: "h-14",
  },
  {
    src: "/instagram.png",
    alt: "Instagram",
    size: "h-16 ",
  },
  {
    src: "x-logo.png",
    alt: "X",
    size: "h-6",
  },
  {
    src: "linkedin.png",
    alt: "Linkedin",
    size: "h-7 ",
  },
  {
    src: "google-news.png",
    alt: "Google News",
    size: "h-10",
  },
  {
    src: "google-reviews.png",
    alt: "Google Reviews",
    size: "h-10",
  },
  {
    src: "amazon-reviews.png",
    alt: "Amazon Reviews",
    size: "h-10 ",
  },
  {
    src: "avis-verifies.png",
    alt: "Avis vérifiés",
    size: "h-8",
  },
  {
    src: "trustpilot.png",
    alt: "Trustpilot",
    size: "h-10",
  },
];
---

<section>
  <div class="pointer-events-none absolute -top-36 z-0" aria-hidden="true">
    <img alt="shadow" src="/moodee-shadow-landing.png" />
  </div>
  <div class="relative mx-auto w-11/12 max-w-7xl py-12 md:py-16 lg:py-20">
    <div class="mx-auto max-w-5xl pb-10 text-center md:pb-16">
      <h1
        class="mb-4 max-w-6xl text-center text-5xl font-bold leading-tight tracking-tighter text-dark md:text-6xl"
      >
        L'IA qui capte l'opinion de vos clients en temps réel
      </h1>
      <div class="mx-auto max-w-3xl">
        <p class="mb-6 text-xl text-[#737791]">
          Simplifiez votre stratégie digitale avec Moodee : une veille
          concurrentielle précise et une e-réputation maîtrisée en un instant.
        </p>
        <a
          href="https://calendly.com/vryckbosch/moodee"
          target="_blank"
          class="mx-auto flex w-fit transform items-center gap-8 rounded-xl bg-blue px-12 py-4 font-bold uppercase tracking-widest text-white transition-colors duration-200 hover:scale-105 hover:bg-blue/90"
        >
          <p>Réservez votre démo</p>
          <Calendar />
        </a>
        <p class="mt-1 text-center text-sm text-gray-400">
          Sans engagement, c'est rapide et simple.
        </p>
      </div>
    </div>

    <YouTube
      id="https://www.youtube.com/watch?v=F09i7wmj5Bg"
      title="Moodee : Révolutionnez Votre Veille Concurrentielle avec l’IA"
      class="mx-auto mb-16 w-full max-w-6xl rounded-3xl shadow-lg"
    />

    <div
      class="mx-auto mb-4 grid grid-cols-2 flex-wrap items-center justify-center gap-x-6 sm:grid-cols-3 md:grid-cols-5"
    >
      {
        images.map(
          (image) =>
            image.src && (
              <div class="col-span-1 my-2 flex justify-center grayscale hover:grayscale-0">
                <img
                  src={image.src}
                  alt={image.alt || ""}
                  class={`${image.size}`}
                />
              </div>
            ),
        )
      }
    </div>
    <h2 class="mx-auto w-fit text-center text-xl text-gray-400">
      Moodee est connecté à plus de 10 plateformes clés
    </h2>
  </div>
</section>
