---
import { YouTube } from "astro-embed";
import { Calendar } from "lucide-react";

const images = [
  {
    src: "facebook.png",
    alt: "Facebook",
    size: "h-12",
  },
  {
    src: "tiktok.png",
    alt: "Tiktok",
    size: "h-14",
  },
  {
    src: "/instagram.png",
    alt: "Instagram",
    size: "h-16 ",
  },
  {
    src: "x-logo.png",
    alt: "X",
    size: "h-8",
  },
  {
    src: "linkedin.png",
    alt: "Linkedin",
    size: "h-10 ",
  },
  {
    src: "google-news.png",
    alt: "Google News",
    size: "h-12",
  },
  {
    src: "google-reviews.png",
    alt: "Google Reviews",
    size: "h-12",
  },
  {
    src: "amazon-reviews.png",
    alt: "Amazon Reviews",
    size: "h-12 ",
  },
  {
    src: "avis-verifies.png",
    alt: "Avis vérifiés",
    size: "h-12 ",
  },
  {
    src: "trustpilot.png",
    alt: "Trustpilot",
    size: "h-12 ",
  },
];
---

<section class="relative -mt-20 pb-24 pt-32">
  <!--  <div
    class="pointer-events-none absolute inset-0 h-1/2 bg-gradient-to-b from-blue to-white blur-sm md:-top-10"
  >
  </div> -->
  <div
    class="pointer-events-none absolute inset-0 md:-top-10"
    aria-hidden="true"
  >
    <img alt="shadow" src="/moodee-shadow-landing.png" />
  </div>
  <div class="relative mx-auto w-11/12 max-w-7xl">
    <div class="mt-12 flex flex-col gap-12 lg:flex-row">
      <div class="mx-auto flex basis-1/2 flex-col items-center justify-center">
        <h1
          class="mb-12 text-center text-5xl font-extrabold md:text-6xl lg:text-start"
          style="text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);"
        >
          L'IA qui capte l'opinion de vos clients en temps réel
        </h1>
        <div class="mx-auto max-w-3xl">
          <p class="text-center text-2xl text-gray-600 lg:text-start">
            Simplifiez votre stratégie digitale avec Moodee : une veille
            concurrentielle précise et une e-réputation maîtrisée en un instant.
          </p>
        </div>
      </div>
      <div class="basis-1/2">
        <div class="mx-auto max-w-5xl">
          <YouTube
            id="gxBkghlglTg"
            title="Astro just Launched.... Could it be the ultimate web framework?"
          />
          <style is:inline>
            lite-youtube {
              margin: 0 auto;
              max-width: 100%;
            }
          </style>
        </div>
      </div>
    </div>

    <div class="mx-auto my-20 w-fit">
      <a href="/">
        <button
          class="flex transform items-center gap-8 rounded-xl bg-blue px-12 py-4 font-bold uppercase tracking-widest text-white transition-colors duration-200 hover:scale-105 hover:bg-green/90"
        >
          <p>Réservez votre démo</p>
          <Calendar />
        </button>
      </a>
      <p class="mt-2 text-center text-sm text-gray-400">
        Sans engagement, c'est rapide et simple.
      </p>
    </div>

    <div
      class="mx-auto mb-4 grid grid-cols-2 flex-wrap items-center justify-center gap-x-6 sm:grid-cols-3 md:grid-cols-5"
    >
      {
        images.map(
          (image) =>
            image.src && (
              <div class="col-span-1 my-2 flex justify-center grayscale hover:grayscale-0">
                <img
                  src={image.src}
                  alt={image.alt || ""}
                  class={`${image.size}`}
                />
              </div>
            ),
        )
      }
    </div>
    <h2 class="mx-auto w-fit text-center text-2xl text-gray-400">
      Moodee est connecté à plus de 10 plateformes clés
    </h2>
  </div>
</section>
