---
import { InfiniteMovingCards } from "@/components/ui/infinite-moving-cards";
export type Testimonial = {
  title: string;
  avis: string;
  name: string;
  job: string;
  note: number;
  image?: {
    src: string;
    alt: string;
  };
};

const testimonials = [
  {
    title: "Moodee a révolutionné le social listening",
    avis: "Grâce à Moodee, analyser le sentiment client et surveiller la concurrence est devenu un jeu d’enfant ! Les statistiques en temps réel nous donnent un gain de temps incroyable, libérant notre équipe pour des actions stratégiques. C’est révolutionnaire dans le suivi de réputation.",
    name: "Anthony BODY",
    job: "Founder, Investisseur",
    note: 4,
    image: {
      src: "/anthony-body.jpeg",
      alt: "Anthony BODY Image",
    },
  },
  {
    title: "Moodee a révolutionné le social listening",
    avis: "Moodee a transformé notre veille concurrentielle, avec des insights en temps réel et des rapports sur le sentiment client, on gagne un temps précieux. L’application nous permet de réagir vite aux tendances du marché. Un outil essentiel pour rester compétitif !",
    name: "Bénédicte Ripault",
    job: "ALB Développement",
    note: 5,
    image: {
      src: "/benedicte-ripault.jpeg",
      alt: "Bénédicte Ripault Image",
    },
  },
  {
    title: "Moodee a révolutionné le social listening",
    avis: "Moodee est un véritable accélérateur pour votre stratégie digitale : analyse de sentiment en temps réel, veille concurrentielle précise, et statistiques immédiates. Rejoignez-nous et découvrez comment Moodee peut révolutionner votre vision des données.",
    name: "Vincent RYCKBOSCH",
    job: "CEO, Moodee",
    note: 5,
    image: {
      src: "/vincent-ryckbosch.jpeg",
      alt: "Vincent RYCKBOSCH Image",
    },
  },
  {
    title: "Moodee a révolutionné le social listening",
    avis: "Moodee change tout : une interface fluide, des données claires, et des statistiques en un instant ! Plus besoin de fouiller partout ; on voit immédiatement le ressenti des clients et ce que font les concurrents. Un atout précieux pour ajuster notre stratégie.",
    name: "Etienne Pascal",
    job: "Bêta-testeur",
    note: 4.5,
    image: {
      src: "https://media.licdn.com/dms/image/v2/D4E03AQEwDu7fBY85lg/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1727249374189?e=1737590400&v=beta&t=dnNRdb86aAZLOG7-l6F_W8of1E9SxU2QNz4dixm3wOY",
      alt: "Etienne Pascal Image",
    },
  },
];
---

<section id="testimonials" class="md-py-16 relative py-12 lg:py-20">
  <div class="testimonials-custom-gradient"></div>

  <div class="relative mx-auto w-11/12 max-w-7xl">
    <h2
      class="relative mb-12 w-fit text-center text-5xl font-bold md:mx-auto md:mb-24"
    >
      Ce que disent nos clients...
      <span class="absolute -bottom-4 right-8 h-1.5 w-1/2 bg-blue"></span>
    </h2>

    <InfiniteMovingCards
      items={testimonials}
      direction="right"
      speed="fast"
      client:load
    />
  </div>
</section>
