---
import { InfiniteMovingCards } from "@/components/ui/infinite-moving-cards";
import { type TestimonialType } from "@/types/sanityTypes";
import { sanityClient } from "sanity:client";

const TESTIMONIAL_QUERY = `*[
  _type == "testimonial"
]|order(publishedAt desc){
  ...,
  "authorImageUrl": authorImage.asset->url // Extraire l'URL de l'image
}`;

const testimonials =
  await sanityClient.fetch<TestimonialType[]>(TESTIMONIAL_QUERY);
---

<section id="testimonials" class="md-py-16 relative py-12 lg:py-20">
  <div class="testimonials-custom-gradient"></div>

  <div class="relative mx-auto w-full max-w-7xl">
    <h2
      class="relative mb-12 w-fit text-center text-5xl font-bold md:mx-auto md:mb-24"
    >
      Ce que disent nos clients...
      <span class="absolute -bottom-4 right-8 h-1.5 w-1/2 bg-blue"></span>
    </h2>

    <InfiniteMovingCards
      items={testimonials}
      direction="right"
      speed="fast"
      client:load
    />
  </div>
</section>
