---
import Layout from "@/layouts/Layout.astro";
import { type PromptType } from "@/types/sanityTypes";
import { sanityClient } from "sanity:client";

const PROMPTS_QUERY = `*[
  _type == "prompt"
  && defined(slug.current)
]|order(publishedAt desc)[0...6]{
 ...,
   "imageUrl": image.asset->url 
}`;

// Récupération des articles via le client Sanity
const prompts = await sanityClient.fetch<PromptType[]>(PROMPTS_QUERY);
---

<Layout title="Resources">
  <section class="mx-auto w-11/12 max-w-7xl space-y-12 py-12 md:py-16 lg:py-20">
    <div
      class="rounded-[3rem] bg-[url('/moodee-bg-blog.png')] bg-center py-8 text-center"
    >
      <h1 class="mb-4 text-center text-5xl font-bold">Le blog Moodee</h1>
      <p class="font-bold">
        Décryptez l'actualité et les tendances du social listening avec l'IA
      </p>
      <p class="mx-auto max-w-3xl text-sm text-gray-500">
        Ici, retrouvrez vos ressources pour tout savoir sur l’univers du social
        listening, de l’intelligence artificielle, et de l’analyse des médias
        sociaux. Ici, nous partageons des actualités, des insights pratiques, et
        des analyses approfondies pour vous aider à tirer le meilleur parti des
        données numériques.
      </p>
    </div>

    <div class="rounded-[3rem] border border-blue px-10 py-8">
      <h3 class="text-3xl font-bold">Prompts</h3>
      <p>
        Suivez les étapes ci-dessous afin de configurer votre analyser
        rapidement et efficacement
      </p>
      <ul
        class="mt-6 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
      >
        {
          prompts.map((prompt) => (
            <li class="group/bento rounded-xl transition duration-200 hover:translate-x-2">
              <a href={"/resources/" + prompt.slug.current}>
                {prompt.imageUrl && (
                  <img
                    src={prompt.imageUrl}
                    alt={prompt.title}
                    class="h-40 w-full rounded-3xl object-cover"
                  />
                )}
                <div class="mb-1 mt-2 font-sans font-bold leading-tight text-blue dark:text-neutral-200">
                  {prompt.title}
                </div>
                <div class="line-clamp-3 text-xs font-normal text-gray-400">
                  {prompt.prompt}
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
