---
import Footer from "@/components/widgets/Footer.astro";
import Header from "@/components/widgets/Header.astro";
import "@/styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <!-- Meta Title -->
    <title>
      {title}
    </title>

    <!-- Meta Description -->
    <meta
      name="description"
      content="Moodee révolutionne la stratégie digitale avec une veille concurrentielle avancée et un suivi d’e-réputation précis. Analysez, anticipez, et agissez avec notre IA."
    />

    <!-- Meta Keywords -->
    <meta
      name="keywords"
      content="veille concurrentielle, stratégie digitale, e-réputation, social listening, Moodee, analyse des tendances, surveillance des concurrents, image de marque"
    />

    <!-- Open Graph / Social Sharing -->
    <meta
      property="og:title"
      content="Moodee : Veille Concurrentielle, Stratégie Digitale et E-réputation"
    />
    <meta
      property="og:description"
      content="Moodee, l'outil ultime de veille concurrentielle et d'e-réputation : anticipez, analysez et maîtrisez tout ce qui se dit sur votre marque et vos concurrents."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://moodee.app" />
    <meta property="og:image" content="/assets/og-image.png" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="Moodee : Veille Concurrentielle, Stratégie Digitale et E-réputation"
    />
    <meta
      name="twitter:description"
      content="Découvrez comment Moodee peut transformer votre stratégie digitale grâce à une veille concurrentielle avancée, un suivi précis de votre e-réputation et des insights tirés du social listening."
    />
    <meta name="twitter:image" content="/assets/og-image.png" />

    <!-- Responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/android-chrome-512x512.png"
    />
    <!-- Robots -->
    <meta name="robots" content="index, follow" />
  </head>
  <body class="flex min-h-screen flex-col">
    <div class="pointer-events-none absolute inset-0 z-0" aria-hidden="true">
      <img alt="shadow" src="/moodee-shadow-landing.png" />
    </div>
    <Header />
    <main class="relative flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
